---
  :tls:             true
  :address:         "smtp.gmail.com"
  :port:            587
  :authentication:  :plain
  :domain:          "gmail.com"
  :user_name:       "YOUR-TEST-ACCOUNT@gmail.com"
  :password:        "YOUR-PASSWORD"
